*
  margin 0
  overflow hidden

@font-face
  font-family 'Roboto'
  src url('/assets/roboto.ttf')

.title-wrapper
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  display flex
  align-items center
  justify-content center

.title
  font-family 'Roboto'
  font-weight 600
  color white
  font-size 100px
  filter drop-shadow(0 0 16px #00000080)

.canvas-wrapper
  position fixed
  left 0
  right 0
  top 0
  bottom 0