*
  margin 0
  overflow hidden

@font-face
  font-family 'Roboto'
  src url('../assets/roboto.ttf')

@font-face
  font-family 'Saira'
  src url('../assets/Saira.ttf')

@font-face
  font-family 'RobotoThin'
  src url('../assets/roboto-thin.ttf')

.wrapper
  position fixed
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  flex-direction column

.label
  font-family Roboto
  font-size 18px
  color #888
  margin-bottom 20px

.download-bar
  width 200px
  height 0px
  background #161616
  display flex
  align-items center
  border-radius 7px
  transition all 0.4s ease-in-out
  body.downloading &
    height 32px
  &-progress
    background rgb(105, 147, 236)
    width 0%
    border-radius 7px
    height 100%

.password-bar
  min-width 200px
  display flex
  align-items center
  transition all 0.4s ease-in-out
  height 47px
  body.downloading &
    height 0px
  body.downloaded &
    height 0px

.password-bar-button-wrapper
  background #2D2D2D
  width 57px
  height 47px
  border-radius 0 7px 7px 0

.password-bar-button
  cursor pointer
  background url(./download.svg) center center no-repeat
  width 100%
  height 100%
  transition all 0.1s ease-out
  &:hover
    transform scale(1.2) rotate(-14deg)

.password-bar-text
  flex-grow 1
  padding-left 14px
  padding-right 14px
  display flex
  align-items center
  height 47px
  background #161616
  position relative
  border-radius 7px 0 0 7px

.password-bar-placeholder
  font-family RobotoThin
  letter-spacing 0.75px
  font-weight bold
  color #888888
  white-space nowrap
  overflow hidden

.password-bar-input-wrapper
  display flex
  align-items center
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.password-bar-input
  padding-left 14px
  padding-right 14px
  padding-top 14px
  padding-bottom 14px
  width 100%
  outline none
  font-family RobotoThin
  letter-spacing 0.75px
  font-weight bold
  color white
  white-space nowrap
  overflow hidden

canvas
  filter blur(1.8px) brightness(150%) contrast(100000%) hue-rotate(180deg) brightness(50%) saturate(30%)