*
  margin 0
  overflow hidden

@font-face
  font-family 'Roboto'
  src url('/assets/roboto.ttf')

@font-face
  font-family 'Saira'
  src url('/assets/Saira.ttf')

.title-wrapper
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  display flex
  align-items center
  justify-content center
  flex-direction column

.title
  text-shadow #222 1px 0 20px
  font-family 'Saira'
  letter-spacing -4px
  font-weight 700
  color #fff
  font-size 100px
  filter drop-shadow(0 0 16px #00000080)

.subtitle
  text-shadow #222 1px 0 20px
  margin-top -25px
  font-family Consolas
  font-weight 500
  color #fff
  font-size 35px
  filter drop-shadow(0 0 16px #00000080)

canvas
  filter blur(1.8px) brightness(150%) contrast(100000%) contrast(30%) brightness(34%)