*
    margin 0
    image-rendering pixelated

body
    background #1E1F22

.fullscreen
    position fixed
    left 0
    top 0
    right 0
    bottom 0


.hidden
    display none
    visibility hidden

.filler
    flex-grow 1

.transparent
    pointer-events none

.pointer-events
    pointer-events auto

.params
    position fixed
    top 0
    right 0
    display flex
    flex-direction column